@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500;700&family=Libre+Franklin:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  @apply font-sans font-bold mb-4;
}
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}

.container {
  @apply w-full px-8 max-w-screen-3xl mx-auto;
}

.nav-link {
  @apply inline-block relative text-lg font-bold font-sans py-6 px-4 mx-2;
}
.nav-link::before {
  content: '';
  position: absolute;
  bottom: 1.75rem;
  left: 0.75rem;
  z-index: -1;
  display: block;
  width: calc(100% - 1.5rem);
  height: 0.6rem;
  pointer-events: none;
  background-color: theme('colors.salmon');
  opacity: 0.5;
  transform-origin: center bottom;
  transform: scaleY(0);
  transition: 0.3s ease-in-out;
}
.nav-link:hover::before {
  transform: scaleY(1);
}

@media (max-width: theme('screens.xl')) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 2rem;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
  }
  .nav.actice {
    opacity: 1;
    pointer-events: all;
  }
  .nav-link {
    font-size: theme('fontSizes.xl');
  }
}

.img-center {
  width: 100vw;
  height: 100vh;
  max-width: unset;
}
.title-highlight {
  position: relative;
  display: inline-block;
}
.title-highlight::before {
  content: '';
  position: absolute;
  bottom: 0.25rem;
  left:   0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 0.6rem;
  pointer-events: none;
  background-color: theme('colors.salmon');
  opacity: 0.5;
}

.btn-transparent {
  @apply bg-opacity-0 border-white border-2 border-solid px-4 py-2 transition-all hover:bg-white hover:text-black;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  font-size: 1.5rem;
  background-color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
  color: #000;
  transition: 0.3s ease-in-out;
}
.social-icon:hover {
  background-color: #bbb;
  box-shadow: 0px 8px 17px 2px rgba(256,256,256,0.14) , 0px 3px 14px 2px rgba(256,256,256,0.12) , 0px 5px 5px -3px rgba(256,256,256,0.2) ;
}

.service-card {
  background-color: #fff;
  color: #000;
  padding: 2rem;
  border-radius: 5px;
}

.service-card--accent {
  border: 5px solid theme('colors.salmon');
}

.service-card-btn {
  padding: 0.25rem;
  background-color: theme('colors.salmon');
  border-radius: 5px;
  padding: 0.5rem;
  display: block;
  text-align: center;
  color: #fff;
}